@import url("reset.css");
@import url("module.css");

*{
	font-family:  'Josefin Slab', serif ,微軟正黑體;
	font-weight:100;
}

html,body{
	background: #dfe6e9;
	margin:0;
	padding: 0;
	position:relative;
	height:auto;
}
h1{
	font-size: 2.2em;
	margin: 10px auto;
}
a{
	text-decoration: none;
}
footer{
	position:absolute;
	bottom: 0 ;
	text-align: center;
	width:100%;
	font-size: .8em;
	color:#adb3b5;
	height:30px;
}
footer a{
	color: #91b8c9;
}
footer a:visited{
	color: #91b8c9;
}
.header1{
	color:#2d3436;
	margin-bottom: 0px;
}
.header-divider{
	margin:0 auto;
	height: 30px;
	width: 210px;
	background-image:url(../asset/FloralDivider.png); 
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotateX(180deg);
}

.title-container{
	text-align: center;
	padding: 10px;
}
.flex-box{
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
}
.flex-item{
	flex:1  45%;
	height:150px;

	display:flex;
	flex-direction: column;
	justify-content: center;/*水平置中*/
	align-items: center;/*垂直置中*/
}

.flex-item:hover .comment{
	color:#91b8c9;
}
.comment{
	margin-top: 10px;
	font-size: 1.5em;
	font-style: italic;
	color:#adb3b5;
}
.comment::before {
	content:"#";
	margin-right: 5px;
}

.pop-text{
	position:relative;
}
.pop-hide{
	display:none;
	position:absolute;
	left:50%;
	top:100%;
	transform: translateX(-50%);
	background-color: #2d3436;
	color: #fdcb6e;
	white-space: nowrap;
	padding: 5px 10px;
	border:solid 1px #fdcb6e;
	border-radius: 5px ;
	font-family: fantasy, 微軟正黑體;
}
.pop-hide::after {/*三角形*/
	content:"";
	width:10px;
	height:10px;
	position:absolute;
	left:50%;
	top:-10px;
	transform: translateX(-50%);
	border-bottom: solid 10px #2d3436;
	border-left: solid  10px transparent; 
	border-right: solid  10px transparent; 
	box-sizing: border-box;
}
.pop-text:hover>.pop-hide{
	display :block;
	
}

.price::after{
	content:"$";
	color:#8d9396;
	margin-left:3px;
	font-size: .7em;
}
.popup-btn{
	position:relative;
}
.popup-btn:active .popup-icon{
	animation: popup 0.12s ease-out forwards;
}
.popup-icon{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background-size: 30px auto; 
	height:30px;
	width:30px;
	opacity: 0;
}
.popup-icon.sunset{
	background-image: url('../asset/020-sunset.svg');
}
.popup-icon.flower{
	background-image: url('../asset/037-flower.svg');
}
.popup-icon.wave{
	background-image: url('../asset/045-wave.svg');
}
@keyframes popup{
	0%{
		opacity: 0;
	}
	30%{
		opacity: 0.6;
	}
	50%{
		opacity: 1;
		top:-50px;
	}
	90%{
		opacity: 1;
		top:-20px;
	}
	100%{
		top:-30px;
		opacity: 1;

	}
}
}