

.profile-box{
	position:absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	width:450px;
	padding:40px;
	/*margin:auto;
	margin-top: 5%;*/
	text-align: center;
	background: rgba(0,0,0,0.6);
	color: white;
	
	
}

.profile-pic{
	width:170px;
	height: 170px;
	object-fit: cover;
	border-radius: 50%;

}
.profile-h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight:100;
}

.profile-h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight:100;
}

.profile-content{
	/*text-align: justify;*/
	line-height: 25px;
	white-space: pre-line;	
	margin-bottom: 30px;
	
}

.profile-box ul{
 	margin:0;
	padding:0;
}

.profile-box li{
	margin:12px;
	display:inline-block;
	list-style:none;
}

.profile-box li a{
	color: rgba(256,256,256, 0.8);
	text-decoration: none;;
	font-size: 30px;
}

.profile-box li a:hover{
	color:#87e5ff;
	transition: all ease-in-out 250ms;
	
}