<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Css Practice</title>
	<link rel="stylesheet" type="text/css" href="../Content/main.css">
	<link rel="shortcut icon" href="../asset/favicon.ico">
	<script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
</head>
<body>
<div class="title-container">
	<h1 class="header1">Css Practice</h1>
	<!-- <img src="../asset/FloralDivider.png" alt=""> -->
	<div class="header-divider"></div>
</div>
<div class="flex-box">
	<div class="flex-item">
		<div class="pop-text">滑到這邊
			<div class="pop-hide">POP OVER!</div>
		</div>
		<div class="comment">Tooltip</div>
	</div>
	<div class="flex-item">
		<div class="search-box ">
			<input type="text" class="search-txt" placeholder="搜尋">
			<a href="#" class="search-btn">
				<i class="fas fa-search"></i>
			</a>
		</div>
		<div class="comment">Search bar</div>
	</div>
	<div class="flex-item pop-text" style="">
		<div class="scroll-table-wrap">
			<div class="scroll-table">
				<table>
					<thead>
						<tr>
							<th class="fixed"><div content="NO.">NO.</div> </th>
							<th class="fixed"><div content="Name">Name</div> </th>
							<th class="fixed"><div content="Price">Price</div></th>
							<th class="fixed"><div content="Description">Description</div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>item1</td>
							<td class="price">99.9</td>
							<td>description</td>
						</tr>
						<tr>
							<td>2</td>
							<td>item2</td>
							<td class="price">2.33</td>
							<td>description</td>
						</tr>
						<tr>
							<td>3</td>
							<td>item3</td>
							<td class="price">5</td>
							<td>description</td>
						</tr>
						<tr>
							<td>4</td>
							<td>item4</td>
							<td class="price">6.55</td>
							<td>description</td>
						</tr>
						<tr>
							<td>5</td>
							<td>item5</td>
							<td class="price">8.88</td>
							<td>description</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="comment">Fixed Head Table</div>
		<div class="pop-hide">內容增長，標頭也會調整</div>
	</div>
	<div class="flex-item">
			
		<div>
		<button type="button" class=" popup-btn">sunset <div class="popup-icon sunset"></div>	</button>
		<button type="button" class=" popup-btn">flower <div class="popup-icon flower"></div></button>
		<button type="button" class=" popup-btn">wave <div class="popup-icon wave"></div></button>
		</div>
		<div class="comment">popup animation</div>
		
	</div>
	<div class="flex-item"style="background-color: #d8d8d8;padding:5px;"></div>
	<div class="flex-item"style="background-color: #d8d8d8;padding:5px;"></div>
	
</div>

</body>
<footer>
	<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
</html>