<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Css Practice</title>
	<link rel="stylesheet" type="text/css" href="../Content/main.css">
	<link rel="shortcut icon" href="../asset/favicon.ico">
	<script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
</head>
<body>
<div class="title-container">
	<h1 class="header1">Css Practice</h1>
</div>
<div class="container flex-box">
	<div class="flex-item">
		<div class="pop-text">滑到這邊
			<div class="pop-hide">POP OVER!</div>
		</div>
		
	</div>
	<div class="flex-item">
		<div class="search-box ">
			<input type="text" class="search-txt" placeholder="搜尋">
			<a href="#" class="search-btn">
				<i class="fas fa-search"></i>
			</a>
		</div>
		
	</div>
	<div class="flex-item"style="background-color: #d8d8d8;padding:5px;"></div>
	<div class="flex-item"style="background-color: #d8d8d8;padding:5px;"></div>
	<div class="flex-item"style="background-color: #d8d8d8;padding:5px;"></div>
	<div class="flex-item"style="background-color: #d8d8d8;padding:5px;"></div>

</div>

</body>
</html>