<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parallax</title>
	<!-- <link rel="stylesheet" href="parallaxPage.css"> -->
	<link rel="stylesheet" href="../Content/main.css">
	<link rel="stylesheet" href="../Content/parallaxPage.css">

</head>
<body>
	<div class="parallax">
		<div id="parallax_group1" class="parallax_group">
			
			<div class="parallax_layer parallax_layer_base">
				<div class="sub_container">
					this is base
				</div>
			</div>

		</div>
		<div id="parallax_group2" class="parallax_group">
			<div class="parallax_layer parallax_layer_back">
				<div class="sub_container">
					
				</div>
			</div>
			<div class="parallax_layer parallax_layer_base">
				<div class="sub_container">
					this is base 2
				</div>
			</div>
		</div>
		<div id="parallax_group3" class="parallax_group">
			
			<div class="parallax_layer parallax_layer_base">
				<div class="sub_container">
					this is base
				</div>
			</div>

		</div>
	</div>
</body>
</html>