<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../Content/main.css">
	<link rel="stylesheet" type="text/css" href="../Content/profile.css">

	<style>
		body{
			margin: 0;s
			padding: 0;
			background: url(../asset/bg.jpg) no-repeat center center fixed;
			background-size: cover;
			height:100%;
			overflow:hidden;
		}

	</style>
</head>
<body>
		<div class="profile-box">
			<img src="../asset/profile-pic.png" alt="" class="profile-pic">
			<h1 class="profile-h1">Roy</h1>
			<h5 class="profile-h5">正在練習 css </h5>
			<div class="profile-content">許多年前 你有一雙清澈的雙眼
				奔跑起來 像是一道春天的閃電
				想看遍這世界 去最遙遠的遠方
				感覺有雙翅膀 能飛越高山和海洋
			</div>
			<ul>
				<li><a href="#"><i class="fab fa-line"></i></a></li>
				<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
				<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
</body>
</html>